<div class="container text-light">

    <!-- <div *ngIf="resultAPI?.results.length > 0">
       
    </div> -->
    <!-- <div *ngIf="resultAPI?.hasOwnProperty('results')">
            <img
                 src="https://image.tmdb.org/t/p/w500{{resultAPI.results[0].poster_path}}"
            >
            {{resultAPI.results[0].overview}}
    </div> -->
    <!-- Masthead-->
    <app-titre></app-titre>
    <app-search-bar-movie (handlerSetResearchWord)="getDataFromAPI($event)"></app-search-bar-movie>
    <hr class="my-5" />
    <app-synopsis *ngIf="resultAPI?.results[0]" [item]="resultAPI?.results[0]"> </app-synopsis>
    <hr class="my-5" />
    <app-spotify *ngIf="resultSpotify?.tracks.items" [musiques]="resultSpotify?.tracks.items"></app-spotify>

    <!-- Social -->
    <app-social-icon></app-social-icon>


</div>