<div class="row">

    <div *ngIf="item?.hasOwnProperty('poster_path')" class="col-12 col-md-4">
        <img class="" src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" /> 
    </div>

    <div class="col-12 col-md-8 d-flex align-items-center">
        <div class="row p-3">
            <h2 class="col-12" *ngIf="item?.hasOwnProperty('original_title')">
                {{item.original_title}}
            </h2>
            <p *ngIf="item?.hasOwnProperty('overview')" class="col-12">
                {{item.overview}}
            </p>
        </div>
    </div>

</div>
